body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
}

h2 {
	margin-bottom: 50px;
	margin-top: 0px;
}

#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1 {
	padding-top: 0;
	margin-top: 0;
	margin-left: 20px;
	text-shadow: 1px 1px 1px #222;
	line-height: .75;
	color: #557c3e;
	font-size: 1.5em;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

ul.dropdown-menu {
	color:white;
	background-color:white;
	opacity: 0.8;
	text-align: center;
	width: 100%;
}

.navbar-nav, .navbar-collapse {
	margin: 0;
	padding: 0;
}
.dropdown-menu {
	position: relative;
}

.main-section   {
	margin: 1px;
	padding-top: 0;
	color:#f6b319;
	background-color: #557c3e;
	border:1px solid black;
	text-align: left;
	opacity: 0.8;
	font-weight: 500;
}

.main-section article {
	height: 1000px;
}

.main-section article h3 { /*Almost the same as the Brand text, woul've merge the styles, but it is hard to read */
	color:white;	
	font-weight: 600;
	text-shadow: 1px 1px 1px #222;
	line-height: .75;
	color: #f6b319;
	font-size: 1.5em;
}

@media (max-width: 767px) {
	.main-section {
		margin-left: 10%;
		margin-right: 10%;
	}
}